# Analysis of inequality and energy-related CO2 emissions in Latin America and the Caribbean applying a Kaya factors decomposition methodology

### Milton Cataño Valderrama

IDA-LMDI method by Kaya factors

In [43]:
# Cargar los datos

import pandas as pd 
import numpy as np
import math as mt
df = pd.read_excel("dataset2.xlsx")

In [44]:
# Calcular intensidad de CO2 para combustibles fosiles

def co2int_ff(fila):
        resultado = (fila["emissions_fossils"]/fila["output_fossils"])
        return resultado


df["co2int-ff"] = df.apply(co2int_ff, axis=1)

In [45]:
# Calcular consumo de energia para combustibles fosiles

def fossils_tes(fila):
    resultado = fila["output_fossils"]/(fila["tes"]*0.00027777777777778)
    return resultado

df["fossils-tes"] = df.apply(fossils_tes, axis=1)

In [46]:
# Calcular intensidad de energía 

def tes_gdp(fila):
    resultado = (fila["tes"]*0.00027777777777778)/(fila["gdp_ppp"]*1000000)
    return resultado

df["tes-gdp"] = df.apply(tes_gdp, axis=1)

In [47]:
# Calculo de pib per capita

def gdp_pop(fila):
    resultado = (fila["gdp_ppp"]*1000000)/fila["pop"]
    return resultado

df["gdp-pop"] = df.apply(gdp_pop, axis=1)

In [48]:
#Calculo emisiones totales por año

total = df.groupby("year").sum()

In [49]:
#IDA-LMDI decomposition analysis: 1990 - 2018

def l_a_b(a,b):
    resultado = (a-b)/(np.log(a) - np.log(b))
    return resultado

l_ctf_ct0_prom = l_a_b(total.loc[2018, "emissions_fossils"], total.loc[1990, "emissions_fossils"])

data1990 = df[df["year"]==1990].reset_index()
data2018 = df[df["year"]==2018].reset_index()

def l_a_b_fossils(a,b):
        resultado = (a-b)/(np.log(a) - np.log(b))
        return resultado

l_a_b_fossils = l_a_b_fossils(data2018["emissions_fossils"],data1990["emissions_fossils"])
l_a_b_fossils = l_a_b_fossils/l_ctf_ct0_prom

def ln_per_country(a,x,y):
    resultado = a*(np.log(x/y))
    return resultado

vw_per_country = ln_per_country(l_a_b_fossils,data2018["co2int-ff"],data1990["co2int-ff"])
vu_per_country = ln_per_country(l_a_b_fossils,data2018["fossils-tes"],data1990["fossils-tes"])
vh_per_country = ln_per_country(l_a_b_fossils,data2018["tes-gdp"],data1990["tes-gdp"])
vg_per_country = ln_per_country(l_a_b_fossils,data2018["gdp-pop"],data1990["gdp-pop"])
vp_per_country = ln_per_country(l_a_b_fossils,data2018["pop"],data1990["pop"])
vw_1990_2018 = mt.exp(vw_per_country.sum())
vu_1990_2018 = mt.exp(vu_per_country.sum())
vh_1990_2018 = mt.exp(vh_per_country.sum())
vg_1990_2018 = mt.exp(vg_per_country.sum())
vp_1990_2018 = mt.exp(vp_per_country.sum())
Vtot_1990_2018 = vw_1990_2018 * vu_1990_2018 * vh_1990_2018 * vg_1990_2018 * vp_1990_2018

V_1990_2018 = pd.DataFrame([(vw_1990_2018, vu_1990_2018, vh_1990_2018, vg_1990_2018, vp_1990_2018, Vtot_1990_2018)], 
                          columns =('Vw_1990_2018', 'Vu_1990_2018', 'Vh_1990_2018', 'Vg_1990_2018', 'Vp_1990_2018', 'Vtot_1990_2018'))
V_1990_2018

,Vw_1990_2018,Vu_1990_2018,Vh_1990_2018,Vg_1990_2018,Vp_1990_2018,Vtot_1990_2018
0,0.68264,2.299248,0.799925,1.546002,1.451417,2.817271

In [50]:
#IDA-LMDI decomposition analysis: 1990 - 1995

def l_a_b(a,b):
    resultado = (a-b)/(np.log(a) - np.log(b))
    return resultado

l_ctf_ct0_prom = l_a_b(total.loc[1995, "emissions_fossils"], total.loc[1990, "emissions_fossils"])

data1990 = df[df["year"]==1990].reset_index()
data1995 = df[df["year"]==1995].reset_index()

def l_a_b_fossils(a,b):
        resultado = (a-b)/(np.log(a) - np.log(b))
        return resultado

l_a_b_fossils = l_a_b_fossils(data1995["emissions_fossils"],data1990["emissions_fossils"])
l_a_b_fossils = l_a_b_fossils/l_ctf_ct0_prom

def ln_per_country(a,x,y):
    resultado = a*(np.log(x/y))
    return resultado

vw_per_country = ln_per_country(l_a_b_fossils,data1995["co2int-ff"],data1990["co2int-ff"])
vu_per_country = ln_per_country(l_a_b_fossils,data1995["fossils-tes"],data1990["fossils-tes"])
vh_per_country = ln_per_country(l_a_b_fossils,data1995["tes-gdp"],data1990["tes-gdp"])
vg_per_country = ln_per_country(l_a_b_fossils,data1995["gdp-pop"],data1990["gdp-pop"])
vp_per_country = ln_per_country(l_a_b_fossils,data1995["pop"],data1990["pop"])
vw_1990_1995 = mt.exp(vw_per_country.sum())
vu_1990_1995 = mt.exp(vu_per_country.sum())
vh_1990_1995 = mt.exp(vh_per_country.sum())
vg_1990_1995 = mt.exp(vg_per_country.sum())
vp_1990_1995 = mt.exp(vp_per_country.sum())
Vtot_1990_1995 = vw_1990_1995 * vu_1990_1995 * vh_1990_1995 * vg_1990_1995 * vp_1990_1995

V_1990_1995 = pd.DataFrame([(vw_1990_1995, vu_1990_1995, vh_1990_1995, vg_1990_1995, vp_1990_1995, Vtot_1990_1995)], 
                          columns =('Vw_1990_1995', 'Vu_1990_1995', 'Vh_1990_1995', 'Vg_1990_1995', 'Vp_1990_1995', 'Vtot_1990_1995'))
V_1990_1995

,Vw_1990_1995,Vu_1990_1995,Vh_1990_1995,Vg_1990_1995,Vp_1990_1995,Vtot_1990_1995
0,0.964143,1.189402,0.963192,1.073713,1.08658,1.288644

In [51]:
#IDA-LMDI decomposition analysis: 1995 - 2000

def l_a_b(a,b):
    resultado = (a-b)/(np.log(a) - np.log(b))
    return resultado

l_ctf_ct0_prom = l_a_b(total.loc[2000, "emissions_fossils"], total.loc[1995, "emissions_fossils"])

data1995 = df[df["year"]==1995].reset_index()
data2000 = df[df["year"]==2000].reset_index()

def l_a_b_fossils(a,b):
        resultado = (a-b)/(np.log(a) - np.log(b))
        return resultado

l_a_b_fossils = l_a_b_fossils(data2000["emissions_fossils"],data1995["emissions_fossils"])
l_a_b_fossils = l_a_b_fossils/l_ctf_ct0_prom

def ln_per_country(a,x,y):
    resultado = a*(np.log(x/y))
    return resultado

vw_per_country = ln_per_country(l_a_b_fossils,data2000["co2int-ff"],data1995["co2int-ff"])
vu_per_country = ln_per_country(l_a_b_fossils,data2000["fossils-tes"],data1995["fossils-tes"])
vh_per_country = ln_per_country(l_a_b_fossils,data2000["tes-gdp"],data1995["tes-gdp"])
vg_per_country = ln_per_country(l_a_b_fossils,data2000["gdp-pop"],data1995["gdp-pop"])
vp_per_country = ln_per_country(l_a_b_fossils,data2000["pop"],data1995["pop"])
vw_1995_2000 = mt.exp(vw_per_country.sum())
vu_1995_2000 = mt.exp(vu_per_country.sum())
vh_1995_2000 = mt.exp(vh_per_country.sum())
vg_1995_2000 = mt.exp(vg_per_country.sum())
vp_1995_2000 = mt.exp(vp_per_country.sum())
Vtot_1995_2000 = vw_1995_2000 * vu_1995_2000 * vh_1995_2000 * vg_1995_2000 * vp_1995_2000

V_1995_2000 = pd.DataFrame([(vw_1995_2000, vu_1995_2000, vh_1995_2000, vg_1995_2000, vp_1995_2000, Vtot_1995_2000)], 
                          columns =('Vw_1995_2000', 'Vu_1995_2000', 'Vh_1995_2000', 'Vg_1995_2000', 'Vp_1995_2000', 'Vtot_1995_2000'))
V_1995_2000

,Vw_1995_2000,Vu_1995_2000,Vh_1995_2000,Vg_1995_2000,Vp_1995_2000,Vtot_1995_2000
0,0.922519,1.34614,0.952725,1.136261,1.074449,1.444431

In [52]:
#IDA-LMDI decomposition analysis: 2000 - 2005

def l_a_b(a,b):
    resultado = (a-b)/(np.log(a) - np.log(b))
    return resultado

l_ctf_ct0_prom = l_a_b(total.loc[2005, "emissions_fossils"], total.loc[2000, "emissions_fossils"])

data2000 = df[df["year"]==2000].reset_index()
data2005 = df[df["year"]==2005].reset_index()

def l_a_b_fossils(a,b):
        resultado = (a-b)/(np.log(a) - np.log(b))
        return resultado

l_a_b_fossils = l_a_b_fossils(data2005["emissions_fossils"],data2000["emissions_fossils"])
l_a_b_fossils = l_a_b_fossils/l_ctf_ct0_prom

def ln_per_country(a,x,y):
    resultado = a*(np.log(x/y))
    return resultado

vw_per_country = ln_per_country(l_a_b_fossils,data2005["co2int-ff"],data2000["co2int-ff"])
vu_per_country = ln_per_country(l_a_b_fossils,data2005["fossils-tes"],data2000["fossils-tes"])
vh_per_country = ln_per_country(l_a_b_fossils,data2005["tes-gdp"],data2000["tes-gdp"])
vg_per_country = ln_per_country(l_a_b_fossils,data2005["gdp-pop"],data2000["gdp-pop"])
vp_per_country = ln_per_country(l_a_b_fossils,data2005["pop"],data2000["pop"])
vw_2000_2005 = mt.exp(vw_per_country.sum())
vu_2000_2005 = mt.exp(vu_per_country.sum())
vh_2000_2005 = mt.exp(vh_per_country.sum())
vg_2000_2005 = mt.exp(vg_per_country.sum())
vp_2000_2005 = mt.exp(vp_per_country.sum())
Vtot_2000_2005 = vw_2000_2005 * vu_2000_2005 * vh_2000_2005 * vg_2000_2005 * vp_2000_2005

V_2000_2005 = pd.DataFrame([(vw_2000_2005, vu_2000_2005, vh_2000_2005, vg_2000_2005, vp_2000_2005, Vtot_2000_2005)], 
                          columns =('Vw_2000_2005', 'Vu_2000_2005', 'Vh_2000_2005', 'Vg_2000_2005', 'Vp_2000_2005', 'Vtot_2000_2005'))
V_2000_2005

,Vw_2000_2005,Vu_2000_2005,Vh_2000_2005,Vg_2000_2005,Vp_2000_2005,Vtot_2000_2005
0,0.8973,1.095589,1.039452,1.049948,1.066681,1.144437

In [53]:
#IDA-LMDI decomposition analysis: 2005 - 2010

def l_a_b(a,b):
    resultado = (a-b)/(np.log(a) - np.log(b))
    return resultado

l_ctf_ct0_prom = l_a_b(total.loc[2010, "emissions_fossils"], total.loc[2005, "emissions_fossils"])

data2005 = df[df["year"]==2005].reset_index()
data2010 = df[df["year"]==2010].reset_index()

def l_a_b_fossils(a,b):
        resultado = (a-b)/(np.log(a) - np.log(b))
        return resultado

l_a_b_fossils = l_a_b_fossils(data2010["emissions_fossils"],data2005["emissions_fossils"])
l_a_b_fossils = l_a_b_fossils/l_ctf_ct0_prom

def ln_per_country(a,x,y):
    resultado = a*(np.log(x/y))
    return resultado

vw_per_country = ln_per_country(l_a_b_fossils,data2010["co2int-ff"],data2005["co2int-ff"])
vu_per_country = ln_per_country(l_a_b_fossils,data2010["fossils-tes"],data2005["fossils-tes"])
vh_per_country = ln_per_country(l_a_b_fossils,data2010["tes-gdp"],data2005["tes-gdp"])
vg_per_country = ln_per_country(l_a_b_fossils,data2010["gdp-pop"],data2005["gdp-pop"])
vp_per_country = ln_per_country(l_a_b_fossils,data2010["pop"],data2005["pop"])
vw_2005_2010 = mt.exp(vw_per_country.sum())
vu_2005_2010 = mt.exp(vu_per_country.sum())
vh_2005_2010 = mt.exp(vh_per_country.sum())
vg_2005_2010 = mt.exp(vg_per_country.sum())
vp_2005_2010 = mt.exp(vp_per_country.sum())
Vtot_2005_2010 = vw_2005_2010 * vu_2005_2010 * vh_2005_2010 * vg_2005_2010 * vp_2005_2010

V_2005_2010 = pd.DataFrame([(vw_2005_2010, vu_2005_2010, vh_2005_2010, vg_2005_2010, vp_2005_2010, Vtot_2005_2010)], 
                          columns =('Vw_2005_2010', 'Vu_2005_2010', 'Vh_2005_2010', 'Vg_2005_2010', 'Vp_2005_2010', 'Vtot_2005_2010'))
V_2005_2010

,Vw_2005_2010,Vu_2005_2010,Vh_2005_2010,Vg_2005_2010,Vp_2005_2010,Vtot_2005_2010
0,0.929642,1.17725,0.918863,1.091479,1.064365,1.168265

In [54]:
#IDA-LMDI decomposition analysis: 2010 - 2015

def l_a_b(a,b):
    resultado = (a-b)/(np.log(a) - np.log(b))
    return resultado

l_ctf_ct0_prom = l_a_b(total.loc[2015, "emissions_fossils"], total.loc[2010, "emissions_fossils"])

data2010 = df[df["year"]==2010].reset_index()
data2015 = df[df["year"]==2015].reset_index()

def l_a_b_fossils(a,b):
        resultado = (a-b)/(np.log(a) - np.log(b))
        return resultado

l_a_b_fossils = l_a_b_fossils(data2015["emissions_fossils"],data2010["emissions_fossils"])
l_a_b_fossils = l_a_b_fossils/l_ctf_ct0_prom

def ln_per_country(a,x,y):
    resultado = a*(np.log(x/y))
    return resultado

vw_per_country = ln_per_country(l_a_b_fossils,data2015["co2int-ff"],data2010["co2int-ff"])
vu_per_country = ln_per_country(l_a_b_fossils,data2015["fossils-tes"],data2010["fossils-tes"])
vh_per_country = ln_per_country(l_a_b_fossils,data2015["tes-gdp"],data2010["tes-gdp"])
vg_per_country = ln_per_country(l_a_b_fossils,data2015["gdp-pop"],data2010["gdp-pop"])
vp_per_country = ln_per_country(l_a_b_fossils,data2015["pop"],data2010["pop"])
vw_2010_2015 = mt.exp(vw_per_country.sum())
vu_2010_2015 = mt.exp(vu_per_country.sum())
vh_2010_2015 = mt.exp(vh_per_country.sum())
vg_2010_2015 = mt.exp(vg_per_country.sum())
vp_2010_2015 = mt.exp(vp_per_country.sum())
Vtot_2010_2015 = vw_2010_2015 * vu_2010_2015 * vh_2010_2015 * vg_2010_2015 * vp_2010_2015

V_2010_2015 = pd.DataFrame([(vw_2010_2015, vu_2010_2015, vh_2010_2015, vg_2010_2015, vp_2010_2015, Vtot_2010_2015)], 
                          columns =('Vw_2010_2015', 'Vu_2010_2015', 'Vh_2010_2015', 'Vg_2010_2015', 'Vp_2010_2015', 'Vtot_2010_2015'))
V_2010_2015

,Vw_2010_2015,Vu_2010_2015,Vh_2010_2015,Vg_2010_2015,Vp_2010_2015,Vtot_2010_2015
0,0.949048,1.207204,0.962767,1.077288,1.057694,1.256845

In [55]:
#IDA-LMDI decomposition analysis: 2015 - 2018

def l_a_b(a,b):
    resultado = (a-b)/(np.log(a) - np.log(b))
    return resultado

l_ctf_ct0_prom = l_a_b(total.loc[2018, "emissions_fossils"], total.loc[2015, "emissions_fossils"])

data2015 = df[df["year"]==2015].reset_index()
data2018 = df[df["year"]==2018].reset_index()

def l_a_b_fossils(a,b):
        resultado = (a-b)/(np.log(a) - np.log(b))
        return resultado

l_a_b_fossils = l_a_b_fossils(data2018["emissions_fossils"],data2015["emissions_fossils"])
l_a_b_fossils = l_a_b_fossils/l_ctf_ct0_prom

def ln_per_country(a,x,y):
    resultado = a*(np.log(x/y))
    return resultado

vw_per_country = ln_per_country(l_a_b_fossils,data2018["co2int-ff"],data2015["co2int-ff"])
vu_per_country = ln_per_country(l_a_b_fossils,data2018["fossils-tes"],data2015["fossils-tes"])
vh_per_country = ln_per_country(l_a_b_fossils,data2018["tes-gdp"],data2015["tes-gdp"])
vg_per_country = ln_per_country(l_a_b_fossils,data2018["gdp-pop"],data2015["gdp-pop"])
vp_per_country = ln_per_country(l_a_b_fossils,data2018["pop"],data2015["pop"])
vw_2015_2018 = mt.exp(vw_per_country.sum())
vu_2015_2018 = mt.exp(vu_per_country.sum())
vh_2015_2018 = mt.exp(vh_per_country.sum())
vg_2015_2018 = mt.exp(vg_per_country.sum())
vp_2015_2018 = mt.exp(vp_per_country.sum())
Vtot_2015_2018 = vw_2015_2018 * vu_2015_2018 * vh_2015_2018 * vg_2015_2018 * vp_2015_2018

V_2015_2018 = pd.DataFrame([(vw_2015_2018, vu_2015_2018, vh_2015_2018, vg_2015_2018, vp_2015_2018, Vtot_2015_2018)], 
                          columns =('Vw_2015_2018', 'Vu_2015_2018', 'Vh_2015_2018', 'Vg_2015_2018', 'Vp_2015_2018', 'Vtot_2015_2018'))
V_2015_2018

,Vw_2015_2018,Vu_2015_2018,Vh_2015_2018,Vg_2015_2018,Vp_2015_2018,Vtot_2015_2018
0,0.986705,0.907586,0.962148,1.010746,1.03425,0.900709